@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1200px;
    background-color: #302828;
}

a {
    color: black;
}

h2 {
    font-size: 20px;
    color: #a7a4a4;
    background-color: white;
    padding: 1.7%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.radio {
    margin: 0 auto;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.radio input {
    margin-right: 10%;
}

.radio div {
    padding: 0;
}

#print {
    transition: 1s;
    opacity: 1;
    -webkit-transition: 1s;
}

div {
    margin: 1% auto;
    padding: 20px 5px;
    width: 35%;
}

.select {
    font-size: 22px;
    display: none;
}

.rounds,
.board {
    border: 2px white solid;
    border-radius: 3px;
}

.rounds {
    margin-bottom: 30px;
}

.board {
    position: relative;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 22px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.board .userRedBox,
.board .compRedBox {
    position: absolute;
    background-color: red;
    width: 57px;
    padding: 7px 6px;
    margin: 0;
    right: -22px;
    top: 38px;
    font-size: 15px;
    font-weight: bold;
}

.board .userRedBox {
    left: -22px;
    right: unset;
}

img {
    width: 23%;
    margin-left: 8px;
    margin-right: 8px;
}

@-webkit-keyframes shadwin {
    from {
        /* -webkit-box-shadow: 0px 0px 8px 0px #00f214;*/
        box-shadow: 0px 0px 8px 0px #00f214;
    }
    to {
        /*  -webkit-box-shadow: 0px 0px 4px 7px #00f214;*/
        box-shadow: 0px 0px 4px 7px #00f214;
    }
}

@keyframes shadwin {
    from {
        /*-webkit-box-shadow: 0px 0px 8px 0px #00f214;*/
        box-shadow: 0px 0px 8px 0px #00f214;
    }
    to {
        /*-webkit-box-shadow: 0px 0px 4px 7px #00f214;*/
        box-shadow: 0px 0px 4px 7px #00f214;
    }
}

.resWin {
    border-radius: 50%;
    -webkit-animation: shadwin .1s alternate ease-out;
    animation: shadwin .1s alternate ease-out;
}

@-webkit-keyframes shaddraw {
    from {
        /*-webkit-box-shadow: 0px 0px 5px 0px hsl(59, 86%, 49%);*/
        box-shadow: 0px 0px 5px 0px rgb(245, 245, 241);
    }
    to {
        /* -webkit-box-shadow: 0px 0px 5px 7px hsl(59, 86%, 49%);*/
        box-shadow: 0px 0px 5px 7px rgb(245, 245, 241);
    }
}

@keyframes shaddraw {
    from {
        /*-webkit-box-shadow: 0px 0px 5px 0px hsl(59, 86%, 49%);*/
        box-shadow: 0px 0px 5px 0px rgb(245, 245, 241);
    }
    to {
        /*-webkit-box-shadow: 0px 0px 5px 7px hsl(59, 86%, 49%);*/
        box-shadow: 0px 0px 5px 7px rgb(245, 245, 241);
    }
}

.resDraw {
    border-radius: 50%;
    -webkit-animation: shaddraw .1s alternate ease-out;
    animation: shaddraw .1s alternate ease-out;
}

@-webkit-keyframes shadloss {
    from {
        -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.70);
        box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.70);
    }
    to {
        -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.70);
        box-shadow: 0px 0px 8px 7px rgba(255, 0, 0, 0.70);
    }
}

@keyframes shadloss {
    from {
        -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.70);
        box-shadow: 0px 0px 8px 7px rgba(255, 0, 0, 0.70);
    }
    to {
        -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.70);
        box-shadow: 0px 0px 8px 7px rgba(255, 0, 0, 0.70);
    }
}

.resLoss {
    border-radius: 50%;
    -webkit-animation: shadloss .1s alternate ease-out;
    animation: shadloss .1s alternate ease-out;
}

p {
    padding: 5%;
    font-size: 18px;
    color: #cdb518;
    text-decoration: underline;
}

p:hover {
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    div {
        width: 45%;
    }
}